.cart__count {
  color: #ffffff;
  height: 30px;
  width: 30px;
  text-align: center;
  /* border: 1px solid #f6f6f6; */
  background-color: green;
  border-radius: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
